USE [master]
GO
/****** Object:  Database [AuthTestDb]    Script Date: 07/23/2024 5:37:12 PM ******/
CREATE DATABASE [AuthTestDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AuthTestDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AuthTestDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AuthTestDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AuthTestDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AuthTestDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AuthTestDb]
GO
/****** Object:  Table [dbo].[Tbl_Role]    Script Date: 07/23/2024 5:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tbl_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_User]    Script Date: 07/23/2024 5:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Tbl_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tbl_Role] ON 

INSERT [dbo].[Tbl_Role] ([RoleId], [Name], [Description]) VALUES (1, N'Admin', N'Admin Role')
INSERT [dbo].[Tbl_Role] ([RoleId], [Name], [Description]) VALUES (2, N'User', N'UserRole')
INSERT [dbo].[Tbl_Role] ([RoleId], [Name], [Description]) VALUES (3, N'HR', N'HR Role')
SET IDENTITY_INSERT [dbo].[Tbl_Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_User] ON 

INSERT [dbo].[Tbl_User] ([UserId], [RoleId], [UserName], [Email], [Password]) VALUES (1, 1, N'Admin', N'admin@gmail.com', N'123456')
INSERT [dbo].[Tbl_User] ([UserId], [RoleId], [UserName], [Email], [Password]) VALUES (2, 2, N'User', N'user@gmail.com', N'123456')
INSERT [dbo].[Tbl_User] ([UserId], [RoleId], [UserName], [Email], [Password]) VALUES (3, 3, N'HR', N'hr@gmail.com', N'123456')
SET IDENTITY_INSERT [dbo].[Tbl_User] OFF
GO
USE [master]
GO
